################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/MVVMCore/bin/Debug/net5.0-windows
/MVVMCore/obj/Debug/net5.0-windows
/PromptMaker/bin/Debug/net6.0-windows
/PromptMaker/obj/Debug/net6.0-windows
/PromptMaker/obj
/MVVMCore/obj
/PromptMaker/bin/Debug/net6.0-windows10.0.18362.0
/MVVMCore/bin/Release/net5.0-windows
/PromptMaker/bin/Release/net6.0-windows
